@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}
html,body {
     height: 100%;
     width: 100%;
    display:grid;
    place-items:center;
    background: #f2f2f2;
    /* background: -webkit-linear-gradient(left, #a445b2, #fa4299); */
   
}
.wrapper{
   
    max-width:450px;
    background:#fff;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
    padding:30px;
    border-radius:5px;
    overflow:hidden; 
}
.title-text{
    display:flex;
    width:950px;
}
.title{
    width: 45%;
    font-size: 35px;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
 .form-container{
    width:100%;
    overflow:hidden;
}
  .form-inner{
    display:flex;
    width: 200%;
    
}
.slide-controls{
    display:flex;
    height:50px;
    width:100%;
    margin:30px 0 10px 0;
    background:#f2f2f2;
    border-radius: 5px;
    overflow:hidden;
    position: relative;

}
.slide{
    color:#fff;
    z-index: 1;
    width:100%;
    height:100%;
    font-size:18px;
    font-weight:500;
    text-align:center;
    line-height: 48px;
    cursor:pointer;
    
}
.slider-tab{
    position:absolute;
    height: 100%;
    width: 50%;
    z-index: 0;
    left:0;
    border-radius: 5px;
    background:-webkit-linear-gradient(left, #a445b2, #fa4299);
     
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.signup{
    color: #000;
}
input[type="radio"]{
    display:none;
}
#signup:checked ~ .slider-tab{
    left: 50%;
  }
  #signup:checked ~ label.signup{
    color: #fff;
    cursor: default;
    user-select: none;
  }
  #signup:checked ~ label.login{
    color: #000;
  }

.form-inner form{
    width:50%
}
  .field{
    height:50px;
    margin-top:10px;
     
}
  input{
    height:100%;
    border-radius: 5px;
    outline:none;
    font-size:17px;
    border-bottom-width: 2px;
    border: 1px solid lightgray;
     width: 100%;
     padding:10px;
     transition: all 0.4s ease;
     
}
.pass-link{
    margin-top: 5px;
}
.pass-link a, .signup-link a{
    color: #fa4299;
}
.pass-link a:hover, .signup-link a:hover{
      
     color: #fa4299;
}
.field input[type='submit']{
    color:#fff;
    font-size:20px;
    font-weight:500;
    padding-left:0px;
    cursor: pointer;
    border: none;
    background: -webkit-linear-gradient(left, #a445b2, #fa4299);
}
.field input:focus{
    border-color: #fc83bb;
}
.signup-link{
    text-align: center;
    margin-top:30px;
}
 